body{
    background-color: black;
    color: green;
    font-family: monospace;
}
#description{
    display: block;
    padding: 20px;
    width: 80vw;
    border: 3px solid white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#commands{
    
    display: block;
    margin: auto;
    margin-top: 20px;    
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    padding: 5px;
}
label{
    display: block;
    text-align: center;
    width: 100vw;
}
#do{
    display: block;
    background-color: inherit;
    color: inherit;
    font-family: inherit;    
    margin: auto;
    margin-top: 50px;
    border: 2px solid green;
    border-radius: 20px;
    padding: 20px;
}
#do:hover{
    color: black;
    background-color: green;
}